---
import Layout from "../layouts/Layout.astro";
import "iconify-icon";
---

<Layout title="home | polaroid">
  <main class="flex justify-center items-start h-full relative">
    <div class="flex absolute top-0 left-1/2 -translate-x-1/2 gap-0">
      <button
        class="w-14 h-[9.5rem] bg-red-500 rounded-b-full duration-100 hover:h-[9.75rem] active:h-[9.25rem]"
      ></button>
      <button
        class="w-14 h-[11.5rem] bg-orange-500 rounded-b-full duration-100 hover:h-[11.75rem] active:h-[11.25rem]"
      ></button>
      <button
        class="w-14 h-[13rem] bg-yellow-500 rounded-b-full duration-100 hover:h-[13.25rem] active:h-[12.75rem]"
      ></button>
      <button
        class="w-14 h-[11.5rem] bg-green-500 rounded-b-full duration-100 hover:h-[11.75rem] active:h-[11.25rem]"
      ></button>
      <button
        class="w-14 h-[9.5rem] bg-blue-500 rounded-b-full duration-100 hover:h-[9.75rem] active:h-[9.25rem]"
      ></button>
    </div>

    <h1 class="mt-6 font-jakarta font-black text-[2.5rem] py-3 px-8 rounded-full border[4px] border-white/40 backdrop-blur-xl bg-white/30 shadow-xl z-10 duration-500 relative space-x-6 animate-in slide-in-from-top-[12rem] ease-out">
      polaroid
      <!-- <span>delt</span>
      <span>e</span>

      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" class="absolute bottom-[27px] right-[68px] origin-bottom scale-y-[115%]">
        <path fill="none" stroke="currentColor" stroke-width="5" d="M4 20h16L12 4z"/>
      </svg> -->
    </h1>
  </main>
</Layout>

