---
import Layout from "$layouts/Layout.astro"
import { getCollection } from "astro:content";

import ProjectCard from "$components/ProjectCard.svelte";

const posts = (await getCollection("projects")).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title="projects">
  <main class="py-8 px-8 space-y-8">
    <h1 class="font-bold text-4xl text-center font-jakarta">
      Projects
    </h1>

    <div class="grid grid-cols-3 gap-8">
      {posts.map(post => (
        <ProjectCard client:load {post} />
      ))}
    </div>
  </main>
</Layout>
