---
import "@fontsource-variable/inter";
import "@fontsource-variable/plus-jakarta-sans";

import "iconify-icon";
import "../styles/global.css"

import NavBar from "$components/NavBar.svelte";
import Background from "$components/Background.svelte";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>{title}</title>
  </head>

  <body class="bg-background text-white">
    <NavBar client:load />
    <Background client:only />

    <slot />
  </body>
</html>
